.profile__edit-button {
    border: 1px solid #fff;
    margin: auto 0;
    padding: 6px;
    box-sizing: content-box;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .profile__edit-button {
        width: 7.5px;
        padding: 4.25px;
        margin: 0;
        align-self: center;
    }
}