.profile__name {
  font-size: calc(1.56vw + 22px);
  font-weight: 500;
  line-height: 1.14;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .profile__name {
    font-size: 27px;
    line-height: 32.68px;
    margin-left: 65px;
  }
}
